.circelgraph {
  position: relative;
  width: 500px;
  height: 500px;
  margin: -80px auto 0 auto;
	transform: scale(0.85);
}

.circelgraph:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px dashed currentColor;
  width: calc(100% - 2px * 2);
  height: calc(100% - 2px * 2);
  border-radius: 50%;
}

.circelgraph .circel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px !important;
  height: 50px !important;
	margin: calc(-50px / 2);
}
